.box {
  margin: auto;
  width: 70%;
  height: 10px;
  border-radius: 30px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  margin-top: 0vh;
  transition: all 1s ease;
}
/*.box::after{
  content:'';
  display: block;
  margin: auto;
  width: 60%;
  height: 10px;
  border-radius: 30px;
  background-color: #e74c3c;
  opacity: 0.95;
  position: absolute;
  transition: all 1s ease;
}*/


